<% if notice != nil %>
  <p id="notice" class="alert alert-success" role="alert">
    <%= notice %>
  </p>
<% end %>

<h1>Blog Posts</h1>
<br />
<div class="row">
  <% @blog_posts.each do |blog| %>
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel panel-header">
          <h1>Title: <%= blog.title %></h1><br />
          <h4>Author: <%= blog.user.name %></h4><br />
        </div>
        <div class="panel panel-body">
          <%= blog.blog_entry %>
        </div>
        <div class="panel panel-footer">
          <%= link_to "Show", blog_post_path(blog), class: "btn btn-primary" %>
          <% if policy(blog).update? %>
          <%= link_to "Edit", edit_blog_post_path(blog), class: "btn btn-primary" %>
          <% end %>
          <% if policy(blog).destroy? %>
          <%= link_to "Delete", blog, method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-primary" %>
          <% end %>
          <p>Has <%= pluralize(blog.comments.count, "comment") %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<br />
<%= link_to "Create New Blog Post", new_blog_post_path, class: "btn btn-primary btn-lg" %>
<br /><br />
