<h1>Blog Post</h1><br />

<h4>Title: <%= @blog_post.title %></h4>

<h4>Author: <%= @blog_post.user.name %></h4><br />

<h4>Entry:</h4>
<h6><%= @blog_post.blog_entry %></h6><br />

<%= render 'comments/form' %>

<br />
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Comments:</h4>
  </div>
  <% @blog_post.comments.each do |comment| %>
    <div class="panel-body">
      <p><strong><%= comment.user.name %></strong> said at <span class="posted-at"><%= comment.created_at.strftime('%m/%d/%Y %H:%M:%S') %></span>: </p>
      <p><%= comment.comment_entry %></p>
      <%= link_to "Edit Comment", edit_blog_post_comment_path(@blog_post, comment), class: "btn btn-primary" %>
      <%= link_to 'Destroy Comment', [comment.blog_post, comment], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
    </div>
    <% end %>
</div>

<br />
<%= link_to "Feed", blog_posts_path, class: "btn btn-primary" %>
<br /><br />
